section {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: rgb(253, 253, 253);

  .container {
    .wrapper:nth-child(2n) {
      background-color: rgb(233, 233, 233);
    }

    .wrapper {
      display: grid;
      grid-template-columns: auto auto;
      padding: 3em;
      width: 100%;

      .profile {
        max-width: 20em;
        border-radius: 100%;
        display: inline-block;
        margin-left: auto;
        margin-right: 2em;
        box-shadow: 0px 10px 17px -3px rgba(0, 0, 0, 0.33);
      }

      aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 35em;

        h2 {
          font-size: 3rem;
          color: var(--primary);
        }

        p {
          max-width: 30em;
          margin-top: 1em;
        }

        span {
          color: #fff;
          background-color: gray;
          background: linear-gradient(
            0deg,
            rgba(34, 193, 195, 1) 0%,
            rgba(39, 214, 128, 1) 100%
          );
          padding: 0.2em 0.5em;
          font-weight: bold;
          border-radius: 30px;
        }

        .social {
          align-items: center;
          display: flex;
          margin-top: 1em;

          img {
            width: 2em;
            margin-right: 1em;
          }

          a {
            justify-self: center;
            display: flex;
            align-self: center;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 720px) {
    .wrapper {
      display: flex !important ;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .profile {
        display: block;
        margin-left: auto;
        margin-right: auto !important;
      }
      aside {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
